body
{
	margin: 0 auto;
	width: 1200px;
}
header
{
	background: red;
	height: 300px;
	width: auto;
	position: relative;
}
nav
{
	background: white;
	position: absolute;
	width: 100%;
	bottom: 0;
}

ul
{
	
}

ul li
{
	display: inline-block;
	height: 2em;
	padding: 0 2em;
}